<%- include("header") -%>

<div class="box" id="heading">
    <a href="/">
        <h1><%= listTitle %></h1>
    </a>
</div>

<div class="box">
    <% newListItems.forEach((item, i) => { %>
    <div class="item">
        <label id="check">
            <input type="checkbox" class="check">
            <span class="checkbox"></span>
            <p><%= item.task %> </p>
        </label>
        <form action="/delete" method="post" class="delete">
            <label id="delete">
                <input type="submit" class="del" name="delete" value="<%= item._id %>">
                <input type="hidden" name="list" value="<%= listTitle %>">
                <span class="delete">x</span>
            </label>
        </form>
    </div>
    <% }); %>

    <form action="/" method="post" class="item">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>

</div>

<%- include("footer") -%>